<h2 class="my-3">設定</h2>
<div class="row">
  <div class="col-auto card mt-5" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <li class="list-group-item py-3">
        <%= link_to "アカウント", "/users/account", class:"text-decoration-none" %>
      </li>
      <li class="list-group-item py-3">
        <%= link_to "プロフィール", "/users/profile", class:"text-decoration-none" %>
      </li>
    </ul>
  </div>
  <div class="col mx-2">
    <div class="d-flex justify-content-between mb-3 border-bottom">
      <h3>アカウント</h3>
      <%= link_to "編集", "/users/edit", class:"text-decoration-none" %>
    </div>
    <div class="d-flex my-3">
      <h5 class="w-25">メールアドレス</h5>
      <%= @user.email %>
    </div>
    <div class="d-flex">
      <h5 class="w-25">パスワード</h5>
      <p>********</p>
    </div>
  </div>
</div>
